mixin section-intention()
  +b.SECTION(data-section).section-intention#intention&attributes(attributes)
    .container
      +title('h2') INTENTION
      +b.description
        each item in getData('intention')
          +text.description_text= item.html
