mixin form()
  +b.FORM.form&attributes(attributes)
    block

mixin inputwrapper()
  +b.inputwrapper&attributes(attributes)
    block

mixin inputbox()
  +b.inputbox&attributes(attributes)
    block

mixin inputcol()
  +b.inputcol&attributes(attributes)
    block

mixin inputrow()
  +b.inputrow&attributes(attributes)
    block

mixin inputlabel()
  +b.inputlabel&attributes(attributes)
    block

mixin input()
  +b.INPUT.input&attributes(attributes)

mixin textarea()
  +b.TEXTAREA.textarea&attributes(attributes)

mixin input-phone()
  +b.INPUT.input(data-mask="tel", type="tel", autocomplete="on", name="phone", required="")&attributes(attributes)
