.inputbox {
  width: 100%;
  display: flex;

  $this: &;

  .input,
  .textarea {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;

    &_dark {
      background-color: rgba(color(dark), 0.2);
    }
  }

  &_light {
    .iti {
      width: 100%;
    }

    .input,
    .textarea {
      border-right: 1px solid color(gray);
      width: 100% !important;
      border-radius: 4px;
    }
  }

  &_sm {
    font-size: 13px;

    @include screen(lg) {
      font-size: 11px;
    }
  }

  &_md {
    @include screen(lg) {
      font-size: 14px;
    }

    @include screen(md) {
      font-size: 11px;
    }
  }

  .button {
    height: auto;
    min-height: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &__label {
  }

  &__wrapper {
    position: relative;
  }
}
