mixin fixed-header-mission(json)
  +b.HEADER.fixed-header-mission.js-fixed-header&attributes(attributes)
    .container
      +e.content
        a(href="/")
          +image-svg('logo-branded').__logo
        nav
          +list(getData(json))._sm._bold._gray.__list
        +e.buttons.hide-md
          +button-app-store._xxs._dark._app-store
          +button-google-play._xxs._dark._google-play
