.header-mission {
  position: relative;
  padding-top: 43px;
  padding-bottom: 172px;
  background-color: color(dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  $this: &;

  * {
    z-index: 1;
  }

  @include screen(sm) {
    padding-top: 46px;
    padding-bottom: 43px;
  }

  &__pretitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    color: color(light);

    @include screen(lg) {
      font-size: 20px;
    }

    @include screen(md) {
      font-size: 17px;
      line-height: 17px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include screen(md) {
      justify-content: start;
    }

    > *:not(:first-child) {
      margin-left: 48px;
    }
  }

  &__logo {
    min-width: 153px;

    @include screen(md) {
      min-width: 150px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__list {
    > li {
      > a {
        font-weight: 400 !important;
        color: color(light) !important;

        &.is-active {
          font-weight: 700 !important;
        }
      }
    }

    > li:nth-child(5) > a {
      font-weight: 800 !important;

      &:focus,
      &:hover {
        color: color(light);
      }
    }
  }

  &__logo {
    width: 100%;
    max-width: 122px;

    @include screen(lg) {
      max-width: 101px;
    }

    @include screen(md) {
      max-width: 67px;
    }

    @include screen(sm) {
      margin-top: 34px;
      max-width: 77px;
    }
  }

  &__logo-mini {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 60px;
    max-height: 40px;

    > * {
      fill: color(light);
    }
  }

  &__content {
    position: relative;
    margin-top: 109px;

    // @include screen(md) {
    //   margin-top: 160px;
    // }

    @include screen(sm) {
      margin-top: 0;
    }
  }

  &__text-content {
    width: 100%;
    max-width: 542px;

    @include screen(lg) {
      max-width: 400px;
    }

    @include screen(md) {
      max-width: 325px;
    }

    @include screen(sm) {
      margin-top: 70px;
    }
  }

  &__buttons {
    margin-top: 75px;
    display: flex;

    > *:not(:first-child) {
      margin-left: 12px;
    }
  }

  &__download-buttons {
    display: flex;
    max-width: 230px;

    > *:not(:first-child) {
      margin-left: 10px;
    }
  }

  &__title.title {
    margin-top: 38px;

    @include screen(sm) {
      margin-top: 19px;
    }

    h1 {
      font-size: 64px;
      font-weight: 500;
      line-height: 79px;

      @include screen(lg) {
        font-size: 48px;
        line-height: 65px;
      }

      @include screen(md) {
        font-size: 38px;
        line-height: 58px;
      }

      @include screen(sm) {
        font-size: 34px;
        line-height: 46px;
      }

      strong {
        margin-top: 10px;
        font-size: 1.5em;
        line-height: 0;
        letter-spacing: 0.06em;
      }
    }
  }

  &__description {
    margin-top: 12px;

    @include screen(sm) {
      font-size: 14px;
      line-height: 21px;
    }
  }
}
