@import "../../node_modules/normalize.css/normalize.css";
@import "helpers/functions"; // Функции
@import "helpers/mixins"; // Миксины
@import "helpers/variables"; // Переменные
@import "helpers/fonts"; // Шрифты
@import "helpers/basics"; // Основные общие стили
@import "helpers/text-styles"; // Стили текстов
@import "../blocks/**/*";
@import "../components/**/*";
@import "../pages/**/*";

.js-sr {
  visibility: hidden;
}

[data-message] {
  display: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 20.7px;

  &.is-active {
    display: block;
  }
}

[data-message="error"] {
  color: color(error);
}

[data-message="success"] {
  color: color(success);
}

@each $key, $val in $breakpoints {
  .hide-#{$key} {
    @include screen(#{$key}) {
      display: none;
    }
  }

  .show-#{$key} {
    @include screen(#{$key}, min) {
      display: none;
    }
  }
}
