mixin section-achivements-promo()
  +b.SECTION(data-section="").section-achivements-promo#achivements&attributes(attributes)
    .container.section-achivements-promo__container
      +title Achivements
      +e.row
        +text._md LPGgo is brought to you by<br>Lifestyle Production Group.<br>A globally leading real estate photo & video<br>production company with over a 100 billion<br>dollars in real estate shot.
        +e.features
          +icon('youtube').__features-icon.js-icon-achivements
          .title.js-typewriter-achivements YouTube<br><strong>Over 100 million Impressions</strong>
