mixin section-achivements-promo()
  +b.SECTION(data-section="").section-achivements-promo#achivements&attributes(attributes)
    .container.section-achivements-promo__container
      +title Achievements
      +e.row
        +text._md Infinite Creator is brought to you by the <br>pioneers of what Real Estate videography is <br>today! With over 9 years of experience and <br>a team of 40, we have traveled the globe <br>and filmed the world's most exclusive <br>estates. We have perfected our service for <br>luxury real estate and now we bring you high <br>quality content for every property. <br>Welcome to the most affordable and efficient <br>content creation marketplace!
        +e.features
          +icon('youtube').__features-icon.js-icon-achivements
          .title.js-typewriter-achivements YouTube<br><strong>Over 100 million Impressions</strong>
