mixin section-achivements-promo()
  +b.SECTION(data-section="").section-achivements-promo#achivements&attributes(attributes)
    .container.section-achivements-promo__container
      +title Achivements
      +e.row
        +text._md Infinite Creator was created<br>by Lifestyle Production Group<br>which was founded in Miami in 2014 by the<br>founder of. Over the last 7 years we have<br>expanded globally and have shot photos and<br>video of over 10 billion dollars in real estate.
        +e.features
          +icon('youtube').__features-icon.js-icon-achivements
          .title.js-typewriter-achivements YouTube<br><strong>Over 100 million Impressions</strong>
