mixin section-achivements-promo()
  +b.SECTION(data-section="").section-achivements-promo#achivements&attributes(attributes)
    .container.section-achivements-promo__container
      +title Achivements
      +e.row
        +text._md Infinite Creator was created by the Founder of<br>Lifestyle Production Group which was founded in<br>Miami in 2014. Over the last 8 years we have<br>expanded globally and are recognized as the<br>pioneers of the real estate video space and the<br>standard to which all others compare.
        +e.features
          +icon('youtube').__features-icon.js-icon-achivements
          .title.js-typewriter-achivements YouTube<br><strong>Over 100 million Impressions</strong>
