mixin section-soon()
  +b.SECTION.section-soon&attributes(attributes)
    .container
      +image-svg('logo-text-white').__logo
      +e.H1.title Coming soon
      +e.divider.hide-xs
      +e.P.description Sorry our website is currently getting a face lift
      +e.P.description Check back soon for the new and improved site
    .container
      +e.copyright 2021 Infinite Creator
