extends ../../layouts/default

block content
  body.index-page
    +header('navigation')
    +menu('full-navigation').show-sm

    main
      +section-how-it-works
      +section-empowering
      +section-achivements-promo
      +section-achivements
      +section-mobile-app
      +section-clients
      +section-youtube
      +section-socials

    +footer('full-navigation')

    +popup-main-form
    +popup-country-code

    script(src="//unpkg.com/typewriter-effect@latest/dist/core.js")
    script(src="assets/scripts/app.min.js")
