.button {
  display: inline-block;
  vertical-align: top;
  border-radius: radius(sm);
  line-height: 1.2;
  text-align: center;
  appearance: none;
  font-weight: 500;
  white-space: nowrap;
  background-color: transparent;
  transition: opacity $ease-main, background-color $ease-main, color $ease-main;
  cursor: pointer;

  $this: &;

  &_transparent {
    border: 2px solid color(primary);
    background-color: transparent;
    color: color(primary);
    fill: color(primary);

    &:focus,
    &:hover {
      background-color: color(primary);
      color: color(light);
    }
  }

  &_dark {
    border: 0;
    background-color: color(dark);
    color: color(light);
    fill: color(light);
  }

  &_primary {
    border: 0;
    background-color: color(primary);
    color: color(light);
    fill: color(light);

    &:focus,
    &:hover {
      background-color: darken(color(primary), 8%);
    }
  }

  &_sm {
    height: 40px;
    padding: 0 24px;
    font-size: 13px;

    @include screen(lg) {
      height: 33px;
      padding: 0 23px;
      font-size: 11px;
    }

    @include screen(lg) {
      height: 38px;
      padding: 0 19px;
      font-size: 12px;
    }
  }

  &_md {
    height: 44px;
    padding: 0 32px;
    font-size: 14px;

    @include screen(lg) {
      height: 36px;
      padding: 0 19px;
      font-size: 12px;
    }

    @include screen(md) {
      height: 27px;
      padding: 0 16px;
      font-size: 9px;
    }
  }

  &_lg {
    height: 52px;
    padding: 0 26px;

    @include screen(lg) {
      height: 50px;
      padding: 0 19px;
      font-size: 14px;
    }

    @include screen(md) {
      height: 40px;
      padding: 0 18px;
      font-size: 12px;
    }

    @include screen(sm) {
      height: 50px;
      padding: 0 19px;
      font-size: 14px;
    }
  }

  &_xl {
    height: 52px;
    padding: 0 26px;
  }

  div {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    width: 100%;

    > *:not(:first-child) {
      margin-left: 10px;
    }
  }

  svg {
    width: 12px;
    height: 12px;
    transition: transform $ease-main;
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }

  &:focus,
  &:hover {
    svg {
      transform: translate3d(3px, 0, 0);
    }
  }
}
