extends ../../layouts/default

block content
  body.mission-page
    +header-mission('navigation-external')
    +menu('full-navigation-external').show-sm

    main
      +section-vision
      +section-values
      +section-motto

    +footer('full-navigation-external')

    +popup-main-form
    //- +popup-country-code

    script(src="assets/scripts/mission.min.js")
