.motto-block {
  text-align: center;

  &__icon {
    max-width: 101px;
    margin-left: auto;
    margin-right: auto;

    @include screen(lg) {
      max-width: 82px;
    }

    @include screen(md) {
      max-width: 60px;
    }

    @include screen(sm) {
      max-width: 100px;
    }

    > * {
      fill: color(light);
    }
  }

  &__text {
    margin-top: 15px;
    font-size: 32px;
    font-weight: 400;
    line-height: 64px;
    color: color(light);

    @include screen(lg) {
      margin-top: 5px;
      font-size: 24px;
      line-height: 32px;
    }

    @include screen(md) {
      margin-top: 0;
      font-size: 20px;
      font-weight: 500;
      line-height: 20px;
    }
  }
}

.section-motto {
  padding-top: 128px;
  padding-bottom: 128px;
  background-image: linear-gradient(89.42deg, #3555ff 0.36%, #8ea0ff 94.13%);

  $this: &;

  @include screen(md) {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  &__title {
    h2 {
      font-weight: 400;
      line-height: 64px;
      text-align: center;

      @include screen(md) {
        font-size: 40px;
        line-height: 40px;
      }

      @include screen(sm) {
        font-size: 32px;
        line-height: 32px;
      }
    }
  }

  &__grid {
    margin-top: 33px;
    justify-content: space-between;

    @include screen(sm) {
      margin-top: 0;
      flex-direction: column;

      > *:not(:first-child) {
        margin-top: 28px;
      }
    }
  }
}
