mixin video(src)
  +b.video&attributes(attributes)
    video(muted="", loop="", autoplay="", playsinline="")
      source(src=`assets/videos/${src}.webm`, type="video/webm")
      source(src=`assets/videos/${src}.mp4`, type="video/mp4")

mixin video-link(src, type)
  +b.video&attributes(attributes)
    video(muted="", loop="", autoplay="", playsinline="")
      block

mixin video-youtube(src, playlist)
  +b.video&attributes(attributes)
    iframe(src=src + `?autoplay=1&mute=1&loop=1&rel=0&showinfo=0&iv_load_policy=3&playlist=${playlist}`, title="YouTube video player", frameborder="0", allowfullscreen="1")
