/* ..................................
Базовые настройки сетки сайта
.................................. */

$params: (
  container: (
    // Максимальная ширина контейнера контента
    width: 1170px,
    // Отступы по бокам контейнера (включены в ширину контейнера)
    padding-lg: 60px,
    padding-md: 30px,
  ),
  grid: (
    // Ширина контейнера сетки
    width: 100%,
    // Количество колонок в сетке
    cols: 12,
    // Расстояние между колонками
    gap-md: 30px,
    gap-sm: 20px,
    // Расстояние между строками в сетке
    gap-vertical-md: 30px,
    gap-vertical-sm: 20px,
  ),
);

$breakpoints: (
  xxl: 1920px,
  xl: 1440px,
  lg: 1280px,
  md: 1024px,
  sm: 768px,
  xs: 480px,
  xxs: 384px,
);

/* ..................................
Цвета
Пример: background-color: color(primary);
.................................. */

$colors: (
  black: #000000,
  light: #ffffff,
  dark: #071529,
  section-gray: #f5f6f7,
  light-gray: #fafafa,
  gray: #c3c7cc,
  dark-gray: #6a737f,
  gray-300: #d9dbe1,
  red: #fc0d1b,
  blue: #4a69a8,
  primary: #3555ff,
  border: #f4f5f7,
  error: #e61d51,
);

/* ..................................
Градиенты
Пример: background: gradient(main);
.................................. */

$gradients: (
  main: linear-gradient(0deg, color(primary), color(border)),
);

/* ..................................
Транзишны
.................................. */

$ease-main: 0.2s ease;

/* ..................................
Шрифты
.................................. */

$font-primary: "Airbnb Cereal App", sans-serif; // Основной шрифт сайта

/* ..................................
Остальное
.................................. */
$radius: (
  sm: 5px,
  md: 8px,
  lg: 10px,
);
