.section-privacy {
  padding-top: 90px;
  padding-bottom: 90px;

  $this: &;

  @include screen(lg) {
    padding-top: 75px;
    padding-bottom: 68px;
  }

  @include screen(md) {
    padding-top: 59px;
    padding-bottom: 42px;
  }

  @include screen(sm) {
    padding-top: 51px;
    padding-bottom: 53px;
  }

  a {
    color: color(primary);

    &:hover {
      color: lighten(color(primary), 10%);
    }
  }

  &__info {
    margin-top: 30px;

    @include screen(sm) {
      margin-top: 11px;
    }

    > *:not(:first-child) {
      margin-top: 30px;

      @include screen(sm) {
        margin-top: 21px;
      }
    }
  }

  &__title.title h1 {
    @include screen(sm) {
      margin-top: 26px;
      font-size: 28px;
      line-height: 40px;
    }
  }

  &__description {
    line-height: 33px;

    @include screen(lg) {
      font-size: 16px;
      line-height: 24px;
    }

    @include screen(md) {
      font-size: 14px;
      line-height: 22px;
    }
  }
}
