mixin section-achivements()
  +b.SECTION.section-achivements&attributes(attributes)
    .container.section-achivements__container
      +image-jpg('achivements/banner').__banner.hide-sm
      +image-jpg('achivements/mobile-banner').__banner.show-sm
      +e.info-cards.hide-sm
        +grid(data-type="top")
          +col(4)(data-type='top-left')
            +info-card-who
          +col(8)
            +info-card-where
            +grid(data-type="top-inner")
              +col(6)
                +parallax-image('achivements/photo-1.png')
              +col(6)(data-type="top-inner-right")
                +info-card-why
        +grid(data-type="bottom")
          +col(8)(data-type="bottom-left")
            +info-card-what
          +col(4)(data-type="bottom-right")
            +parallax-image('achivements/photo-2.png')
      +e.info-cards.show-sm
        +slider(false, false).__slider.js-slider-free
          +slide
            +info-card-who
          +slide
            +info-card-where
          +slide
            +info-card-why
          +slide
            +info-card-what
