mixin section-achivements()
  +b.SECTION.section-achivements&attributes(attributes)
    .container.section-achivements__container
      +image-jpg('achivements/banner').__banner.hide-sm
      +image-jpg('achivements/mobile-banner').__banner.show-sm
      +e.info-cards.hide-sm
        +grid(data-type="top")
          +col(4)(data-type='top-left')
            +info-card-who
          +col(8)
            +info-card-where
            +grid(data-type="top-inner")
              +col(6)
                +image-png('achivements/photo-1')(data-parallax="")
              +col(6)(data-type="top-inner-right")
                +info-card-why
        +grid(data-type="bottom")
          +col(8)(data-type="bottom-left")
            +info-card-what
          +col(4)(data-type="bottom-right")
            +image-png('achivements/photo-2')(data-parallax="")
      +e.info-cards.show-sm
        +slider(false, false).__slider.js-slider-free#slider-achievements
          +slide
            +info-card-who
          +slide
            +info-card-where
          +slide
            +info-card-why
          +slide
            +info-card-what
