extends ../../layouts/default

block content
  body.terms-page
    +fixed-header('navigation-reverse').hide-sm
    +menu('terms-navigation').show-sm

    main
      +section-terms

    +footer('terms-navigation')

    +popup-main-form
    +popup-country-code

    include ../../layouts/scripts
    script(src="assets/scripts/terms.min.js")
