mixin fixed-header(json)
  +b.HEADER.fixed-header.js-fixed-header&attributes(attributes)
    .container
      +e.content
        +image-svg('logo-branded').__logo
        nav
          +list(getData(json))._sm._bold._gray.__list
        +e.buttons.hide-lg
          +button-app-store._xs._dark._app-store
          +button-google-play._xs._dark._google-play
