mixin section-socials()
  +b.SECTION.section-socials&attributes(attributes)
    .container
      +title Connect with us
      +text._sm.__description Stay inspired & subscribe to Infinite Creator on social media
      +grid.__cards
        +col(4)
          +social-card('instagram-gradient', 'https://www.instagram.com/infinite_creator_app/', 'follow_ig_clicked').hide-sm Our Photos
          +social-card-mobile('instagram', 'https://www.instagram.com/infinite_creator_app/', 'follow_ig_clicked')._instagram.show-sm Our Photos
        +col(4)
          +social-card('youtube', 'https://www.youtube.com/channel/UCH4QNjdwcNWv_0Z8LNhoyXQ/featured', 'follow_youtube_clicked')._youtube.hide-sm Our Videos
          +social-card-mobile('youtube', 'https://www.youtube.com/channel/UCH4QNjdwcNWv_0Z8LNhoyXQ/featured', 'follow_youtube_clicked')._youtube.show-sm Our Videos
        +col(4)
          +social-card('facebook', 'https://www.facebook.com/Infinitecreatorapp/', 'follow_fb_clicked')._facebook.hide-sm Our News
          +social-card-mobile('facebook', 'https://www.facebook.com/Infinitecreatorapp/', 'follow_fb_clicked')._facebook.show-sm Our News
