include ../blocks/grid/grid
include ../blocks/icon/icon
include ../blocks/slider/slider
include ../blocks/tabs/tabs
include ../blocks/button/button
include ../blocks/form/form
include ../blocks/title/title
include ../blocks/text/text
include ../blocks/image/image
include ../blocks/video/video
include ../blocks/tab-cards/tab-cards
include ../blocks/info-card/info-card
include ../blocks/social-card/social-card
include ../blocks/client-block/client-block
include ../blocks/video-block/video-block
include ../blocks/list/list
include ../blocks/burger/burger
include ../blocks/menu/menu
include ../blocks/popup/popup
include ../components/header/header
include ../components/section-empowering/section-empowering
include ../components/section-how-it-works/section-how-it-works
include ../components/section-achivements-promo/section-achivements-promo
include ../components/section-achivements/section-achivements
include ../components/section-mobile-app/section-mobile-app
include ../components/section-clients/section-clients
include ../components/section-youtube/section-youtube
include ../components/section-socials/section-socials
include ../components/footer/footer
include ../components/section-privacy/section-privacy
include ../components/section-soon/section-soon
include ../components/section-terms/section-terms
