extends ../../layouts/default

block content
  body.privacy-page
    +fixed-header('navigation-reverse').hide-sm
    +menu('privacy-navigation').show-sm

    main
      +section-privacy

    +footer('privacy-navigation')

    +popup-main-form
    +popup-country-code

    include ../../layouts/scripts
    script(src="assets/scripts/privacy.min.js")
