.text {
  transition: color $ease-main;

  $this: &;

  &_light {
    color: color(light);
  }

  &_gray {
    color: color(gray);
  }

  &_sm {
    font-size: 18px;
    line-height: 24px;

    @include screen(lg) {
      font-size: 14px;
      line-height: 21px;
    }

    @include screen(md) {
      font-size: 12px;
      line-height: 17px;
    }

    @include screen(sm) {
      font-size: 14px;
      line-height: 22px;
    }
  }

  &_md {
    font-size: 22px;
    line-height: 32px;
  }

  &_lg {
    font-size: 28px;
    line-height: 40px;
  }

  &_xl {
    font-size: 36px;
    line-height: 48px;

    @include screen(lg) {
      font-size: 28px;
      line-height: 40px;
    }

    @include screen(md) {
      font-size: 24px;
      line-height: 34px;
    }
  }

  &_md,
  &_lg {
    @include screen(lg) {
      font-size: 18px;
      line-height: 26px;
    }

    @include screen(md) {
      font-size: 16px;
      line-height: 24px;
    }

    @include screen(sm) {
      font-size: 14px;
      line-height: 22px;
    }
  }
}
