mixin section-youtube()
  +b.SECTION(data-section="").section-youtube#join-us&attributes(attributes)
    .container
      +title Join us on YouTube
      +slider(false, false).__slider.js-slider-free#slider-youtube
        each video in [1, 2, 3, 4, 5]
          +slide
            +skeleton(style="height:204px")
            +skeleton(style="height:30px;margin-top:25px;")
            //- +video-block(video)

