mixin section-empowering()
  +b.SECTION.section-empowering&attributes(attributes)
    .container
      +e.row
        +e.info
          +title Empowering
          +text._lg.__description Infinite Creator empowers you to capture professional-quality videos from your smartphone in minutes, then send off your content to be perfected by our professional editors within 24 hours. <strong>It’s that easy.</strong>
        +features-empowering.__features.show-sm
        +video('empowering/video').__video
      +features-empowering.__features.hide-sm

mixin features-empowering()
  +b.features-empowering&attributes(attributes)
    +icon('flick').__icon.js-icon-empowering
    +e.info
      +e.title Captivating content that is
      +e.accent.js-typewriter-empowering easy
