.section-vision {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: color(dark);

  $this: &;

  @include screen(sm) {
    padding-top: 47px;
    padding-bottom: 80px;
  }

  &__grid {
    align-items: center;
    justify-content: space-between;

    @include screen(sm) {
      flex-direction: column-reverse;
    }

    > *:first-child {
      @include screen(sm) {
        text-align: start;
      }
    }

    > *:nth-child(2) {
      display: flex;
      justify-content: flex-end;
    }

    .title {
      h2 {
        font-weight: 500;
        line-height: 64px;

        @include screen(sm) {
          font-size: 36px;
          line-height: 36px;
        }
      }
    }

    .text {
      margin-top: 32px;

      @include screen(sm) {
        font-size: 20px;
        line-height: 30px;
      }
    }

    .icon {
      padding: 100px;
      max-width: 250px;
      margin-left: auto;
      margin-right: auto;

      @include screen(lg) {
        max-width: 200px;
      }

      @include screen(md) {
        max-width: 168px;
      }

      @include screen(sm) {
        padding: 0;
      }

      > * {
        fill: color(light);
      }
    }
  }
}
