mixin section-vision()
  +b.SECTION(data-section="").section-vision#vision&attributes(attributes)
    .container.section-vision__container
      +grid.__grid
        +col({xxl: 6, sm: 8, xs: 12})
          +title._light Vision
          +text._light._lg To be the globally preferred real estate content creation / platform in the world; by empowering our users with the easiest, fastest, most cost effective & innovative real estate app that creates a captivating and inspiring experience and end product.
        +col({xxl: 6, sm: 8, xs: 12})
          +icon('logo')
